includeConfig 'conf/base.config'

workflow {
  // Override main workflow entrypoint
  mainScript = 'workflow/exomedepth_test.nf'
}

params {
  // Adjust these paths to your testing or real data
  aligned_bams = file('results/bam/*.bam')        // BAMs with metadata
  bed_file     = file('resources/regions.bed')    // Capture BED file
  reference_fasta = file('resources/genome.fa')   // FASTA file

  // Optional: limit number of samples for testing
  max_bams = 10
}
